Source: django-closure
Section: devel
Priority: extra
Maintainer: Wolfgang Glas <wolfgang.glas@iteg.at>
Build-Depends: cdbs, debhelper (>= 9), dh-python, python3-all, python3-all-dbg, python3-setuptools, python3-django, python3-slimit, python-all, python-all-dbg, python-setuptools, python-django, python-slimit
XBCS-PBA-Category: xpkg
XBCS-PBA-Generation: 1
XBCS-PBA-Distributions: any
XBCS-PBA-Repositories: deb.clazzes.org

Package: python-django-closure
Architecture: all
Priority: extra
Depends: python-django, python-slimit, ${python:Depends},
    ${misc:Depends},
	${shlibs:Depends}
Description: Django-closure python library packaged for python2.

Package: python3-django-closure
Architecture: all
Priority: extra
Depends: python3-django, python3-slimit, ${python3:Depends},
    ${misc:Depends},
	${shlibs:Depends}
Description: Django-closure python library packaged for python3.
